{% extends 'layout.html' %}

{% block title %}
    User registration
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-50" style="min-width: 400px;">
        <h1 class="text-center p-5"><i class="bi bi-lightbulb-fill"></i> QUIZ APP</h1>
        <h2 class="text-center mb-2">Host quizzes in three easy steps:</h2>
        <div class="py-4 pe-5">
            <h3><i class="bi bi-person-fill-add"></i> Register an account</h3>
            <p>Create an account for free by simply choosing a username and a password. An account is required to create quizzes, but anyone can explore quizzes and submit responses without registration.</p>
            <a href="{% url 'registration' %}" class="btn btn-outline-danger">Click here to register</a>
        </div>
        <div class="text-end py-4 ps-5">
            <h3><i class="bi bi-pencil-square"></i> Create a quiz</h3>
            <p>Use the quiz creator to set a title, add questions and specify answer options for your quiz. Progress is saved in your profile, so you can leave and resume quiz creation at any point.</p>
            <a href="{% url 'createQuiz' %}" class="btn btn-outline-success">Click here to create a new quiz</a>
        </div>
        <div class="py-4 pe-5">
            <h3><i class="bi bi-broadcast-pin"></i> Publish your quiz</h3>
            <p>Set the accessibility of your quiz and publish it. You may choose to restrict access to your quiz with a password. You can change quiz access settings or stop publishing at any point. Share your quiz with others and see their responses from your profile.</p>
            <a href="{% url 'userProfile' %}" class="btn btn-outline-primary">Click here to go to your profile</a>
        </div>
    </div>
</div>
{% endblock %}