{% extends 'layout.html' %}

{% block title %}
    Password required
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div>
        <h1>Password required</h1>
        {% if failed %}
            <p class="text-danger">Incorrect password.</p>
        {% endif %}
        <form method="post" action="{{ url }}" id="password_form">
            {% csrf_token %}
            <div id="div_id_password" class="mb-3">
                <input type="password" name="password" maxlength="50" class="passwordinput form-control" id="id_password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}