{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Responses
{% endblock %}

{% block scripts %}
    <script src="{% static 'pagination.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Responses for quiz: {{liveQuiz.quiz.title}}</h1>
    <div class="ps-3 pt-2">
        <p>{{ responses.count }} responses were submitted</p>
    </div>
    <div>
        {% for question in questions %}
            <div id="question_{{question.id}}"  class="row border rounded m-3">
                <div class="col-3 border-end" >
                    {% if question.image %}
                        <img src="{{question.image.url}}" style="object-fit: scale-down;min-height: 200px;max-height: 25vh;" class="h-100 w-100"  alt="Question image" />
                    {% else %}
                        <img src="{% static 'placeholder.svg' %}" style="object-fit: scale-down;min-height: 200px;max-height: 25vh;" class="h-100 w-100"  alt="Question image" />
                    {% endif %}
                </div>
                <div class="col-9 py-3">
                    <h5>Question {{forloop.counter}}: {{question.text}}</h5>
                    {% for answer in question.answeroption_set.all %}
                        <div id="answer_{{answer.id}}" class="py-1">
                            {% if answer.is_correct %}
                            <span class="text-success fw-bold">Correct option:</span>
                            {% else %}
                            <span class="fw-bold">Answer option:</span>
                            {% endif %}
                            <span class="form-check-label p-2">{{answer.text}}</span>
                            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-info text-dark overflow-visible" style="width: {% widthratio answer.questionresponse_set.count responses.count 100 %}%">{{answer.questionresponse_set.count}} responders picked this option</div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if question.explanation %}
                        <p class="mt-3">Explanation: {{question.explanation}}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="my-5">
        <div>
            <h3 class="d-inline">All responses</h3>
            <div class="float-end me-4 mt-1 spinner-border" id="responses_spinner" role="status" hidden="" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="responses_container" class="p-2">
            {% include 'quizzes/_all_responses_table.html' with page=responsesPage only %}
        </div>
    </div>
</div>
{% endblock %}