{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Quiz: {{ liveQuiz.quiz.title }}
{% endblock %}

{% block scripts %}
    <script src="{% static 'quiz.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="justify-content-center d-flex ">
    <div>
        <h1 class="text-center">Quiz: {{ liveQuiz.quiz.title }}</h1>
        <form action="{% url 'submitResponse' liveID=liveQuiz.id %}" method="post" class="mb-5">
            {% csrf_token %}
            {% if liveQuiz.access == 'PRT' %}
                <input type="hidden" name="password" value="{{ liveQuiz.password }}"/>
            {% endif %}
            {% for question in questions %}
                <div id="question_{{ forloop.counter }}" class="question_block collapse border border-2 border-primary bg-info rounded" style="--bs-bg-opacity: .1;min-width: 50vw;">
                    <div class="pb-4">
                        <h2 class="border-bottom border-primary bg-primary p-2" style="--bs-bg-opacity: .2;">Question {{ forloop.counter }}</h2>
                        {% if question.image %}
                            <img src="{{question.image.url}}" class="img-fluid border mx-2" style="max-width: 65vw; max-height: 45vh;" alt="Question image">
                        {% endif %}
                        <div class="mx-4 mt-3">
                            <h3>{{question.text}}</h3>
                            {% for answer in question.answeroption_set.all %}
                            <div class="p-1">
                                {% if question.type == 'RB' %}
                                    <input type="radio" class="form-check-input" name="question_{{ question.id }}" value="{{ answer.id }}" id="answer_{{answer.id}}_check" />
                                {% else %}
                                    <input type="checkbox" class="form-check-input" name="question_{{ question.id }}" value="{{ answer.id }}" id="answer_{{answer.id}}_check" />
                                {% endif %}
                                <label class="form-check-label" for="answer_{{answer.id}}_check">
                                    {{ answer.text }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="p-4">
                            {% if forloop.counter != 1 %}
                                <button type="button" class="float-start btn btn-outline-primary" onclick="prevQuestion()">Previous question</button>
                            {% endif %}
                            {% if forloop.counter != questions.count %}
                                <button type="button" class="float-end btn btn-outline-primary" onclick="nextQuestion()">Next question</button>
                            {% else %}
                                <button type="submit" class="float-end btn btn-success">Submit response</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
    <nav aria-label="Question navigation" class="fixed-bottom d-flex justify-content-center">
        <ul class="pagination">
            {% for question in questions %}
            <li class="page-item">
                <button type="button" class="page-link" onclick="selectQuestion({{forloop.counter}})">{{forloop.counter}}</button>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}