{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Quizzes
{% endblock %}

{% block scripts %}
    <script src="{% static 'pagination.js' %}" defer></script>
{% endblock %}


{% block content %}
<div class="container">
    <div>
        <h1 class="d-inline">Public quizzes</h1>
        <div class="float-end me-4 mt-3 spinner-border" id="quizzes_spinner" role="status" hidden="">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="input-group mb-1 mt-4">
        <input type="search" class="form-control rounded" id="quizzes_search" placeholder="Search" aria-label="Search" />
        <button type="button" class="btn btn-outline-primary" onclick="search('quizzes')"><i class="bi bi-search"></i> search</button>
        <button type="button" class="btn btn-outline-danger" onclick="reset('quizzes')"><i class="bi bi-arrow-clockwise"></i> reset</button>
    </div>
    <div id="quizzes_container">
        {% include 'quizzes/_quizzes_table.html' with page=page only %}
    </div>
</div>
{% endblock %}