<table id="saved_quizzes" class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for quiz in page %}
        <tr id="quiz_{{ quiz.id }}">
            <td>{{ quiz.title }}</td>
            <td>{{ quiz.created_at|date:'Y-m-d H:i' }}</td>
            <td>
                <button type="button" onclick="deleteQuiz({{ quiz.id }})" class="mx-1 float-end btn btn-danger">Delete quiz</button>
                <a href="{% url 'editQuiz' quizID=quiz.id %}" class="mx-1 float-end btn btn-info">Edit/Publish</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<nav class="d-flex flex-row-reverse">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item"><button class="page-link" onclick="getPage('saved_quizzes', 1)" ><i class="bi bi-chevron-double-left"></i>first</button></li>
            <li class="page-item"><button class="page-link " onclick="getPage('saved_quizzes',{{ page.previous_page_number }})"><i class="bi bi-chevron-left"></i></button></li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#saved_quizzes">Page {{ page.number }} of {{ page.paginator.num_pages }}</a>
        </li>
        {% if page.has_next %}
            <li class="page-item"><button class="page-link" onclick="getPage('saved_quizzes', {{ page.next_page_number }})"><i class="bi bi-chevron-right"></i></button></li>
            <li class="page-item"><button class="page-link" onclick="getPage('saved_quizzes', {{ page.paginator.num_pages }})">last <i class="bi bi-chevron-double-right"></i></button></li>
        {% endif %}
    </ul>
</nav>