{% extends 'layout.html' %}
{% load static %}

{% block title %}
    User profile: {{ username }}
{% endblock %}

{% block scripts %}
    <script src="{% static 'profile.js' %}" defer></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container">
    <h1>User profile: {{ username }}</h1>
    <div class="my-3">
        <h3>Live quizzes</h3>
        {% if liveQuizzes %}
        <table id="live_quizzes" class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Access</th>
                    <th>Published at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for liveQuiz in liveQuizzes %}
                <tr id="live_quiz_{{ liveQuiz.id }}">
                    <td>{{ liveQuiz.quiz.title }}</td>
                    <td>{{ liveQuiz.get_access_display }}</td>
                    <td>{{ liveQuiz.published_at|date:'Y-m-d H:i' }}</td>
                    <td>
                        <a href="{% url 'manageLive' liveID=liveQuiz.id %}" class="mx-1 float-end btn btn-warning">Manage</a>
                        <a href="{% url 'viewAllResponses' liveID=liveQuiz.id %}" class="mx-1 float-end btn btn-info">Responses</a>
                        <a href="{% url 'viewQuiz' liveID=liveQuiz.id %}" class="mx-1 float-end btn btn-secondary">See quiz</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You are not publishing any quizzes at the moment.</p>
        {% endif %}
    </div>
    <div class="my-4">
        <h3>Unpublished quizzes</h3>
        {% if quizzes %}
        <table id="quizzes" class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}
                <tr id="quiz_{{ quiz.id }}">
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.created_at|date:'Y-m-d H:i' }}</td>
                    <td>
                        <button type="button" onclick="deleteQuiz({{ quiz.id }})" class="mx-1 float-end btn btn-danger">Delete quiz</button>
                        <a href="{% url 'editQuiz' quizID=quiz.id %}" class="mx-1 float-end btn btn-info">Edit/Publish</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You have no unpublished quizzes at the moment.</p>
        {% endif %}
    </div>
    <div class="my-4">
        <h3>Your responses</h3>
        {% if responses %}
        <table id="responses" class="table table-hover">
            <thead>
                <tr>
                    <th>Quiz title</th>
                    <th>Submitted at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for response in responses %}
                <tr id="response_{{ response.id }}">
                    <td>{{ response.live.quiz.title }}</td>
                    <td>{{ response.submitted_at|date:'Y-m-d H:i' }}</td>
                    <td>
                        <a href="{% url 'viewResponse' responseID=response.id %}" class="mx-1 float-end btn btn-secondary">Review</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You have not submitted any quiz responses yet.</p>
        {% endif %}
    </div>
</div>
<div id="modal_confirm_delete" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation required</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete a quiz? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn_confirm_delete" type="button" class="btn btn-danger">Delete quiz</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
