{% extends 'layout.html' %}
{% load static %}

{% block title %}
    User profile: {{ username }}
{% endblock %}

{% block scripts %}
    <script src="{% static 'pagination.js' %}" defer></script>
    <script src="{% static 'profile.js' %}" defer></script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container mb-5">
    <h1>User profile: {{ username }}</h1>
    <div class="my-3">
         <div>
            <h3 class="d-inline">Live quizzes</h3>
            <div class="float-end me-4 mt-1 spinner-border" id="live_quizzes_spinner" role="status" hidden="" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        {% if liveQuizzesPage %}
        <div class="input-group mb-1 mt-3">
            <input type="search" class="form-control rounded" id="live_quizzes_search" placeholder="Search" aria-label="Search" />
            <button type="button" class="btn btn-outline-primary" onclick="search('live_quizzes')"><i class="bi bi-search"></i> search</button>
            <button type="button" class="btn btn-outline-danger" onclick="reset('live_quizzes')"><i class="bi bi-arrow-clockwise"></i> reset</button>
        </div>
        <div id="live_quizzes_container">
            {% include 'users/_live_quizzes_table.html' with page=liveQuizzesPage only %}
        </div>
        {% else %}
            <p>You are not publishing any quizzes at the moment.</p>
        {% endif %}
    </div>
    <div class="my-4">
        <div>
            <h3 class="d-inline">Unpublished quizzes</h3>
            <div class="float-end me-4 mt-1 spinner-border" id="saved_quizzes_spinner" role="status" hidden="" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        {% if savedQuizzesPage %}
        <div class="input-group mb-1 mt-3">
            <input type="search" class="form-control rounded" id="saved_quizzes_search" placeholder="Search" aria-label="Search" />
            <button type="button" class="btn btn-outline-primary" onclick="search('saved_quizzes')"><i class="bi bi-search"></i> search</button>
            <button type="button" class="btn btn-outline-danger" onclick="reset('saved_quizzes')"><i class="bi bi-arrow-clockwise"></i> reset</button>
        </div>
        <div id="saved_quizzes_container">
            {% include 'users/_saved_quizzes_table.html' with page=savedQuizzesPage only %}
        </div>
        {% else %}
            <p>You have no unpublished quizzes at the moment.</p>
        {% endif %}
    </div>
    <div class="my-4">
        <div>
            <h3 class="d-inline">Your responses</h3>
            <div class="float-end me-4 mt-1 spinner-border" id="responses_spinner" role="status" hidden="" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        {% if responsesPage %}
        <div class="input-group mb-1 mt-3">
            <input type="search" class="form-control rounded" id="responses_search" placeholder="Search" aria-label="Search" />
            <button type="button" class="btn btn-outline-primary" onclick="search('responses')"><i class="bi bi-search"></i> search</button>
            <button type="button" class="btn btn-outline-danger" onclick="reset('responses')"><i class="bi bi-arrow-clockwise"></i> reset</button>
        </div>
        <div id="responses_container">
            {% include 'users/_responses_table.html' with page=responsesPage only %}
        </div>
        {% else %}
            <p>You have not submitted any quiz responses yet.</p>
        {% endif %}
    </div>
</div>
<div id="modal_confirm_delete" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation required</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete a quiz? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn_confirm_delete" type="button" class="btn btn-danger">Delete quiz</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
