{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    User registration
{% endblock %}

{% block content %}
    <div class="container">
        <h1>User Registration</h1>
        <p>Already have an account? <a href="{% url 'authentication' %}">Click here to login.</a></p>
        <form action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
